section.all-you-need
  .container
    .all-you-need-grid
      .all-you-need-text
        p.title.all-you-need-title All You need is a browser!
        .all-you-need-text-description
          p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          p.description Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequat.
          include ./checkboxes.pug
      img.gadgets(src=require('./../images/gadgets.png'), alt='Gadgets')