.checkboxes 
      .checked-div
            img.checked(src=require('./../images/checked.svg'), alt='checked')
            p.checked-text Lorem ipsum dolor sit amet consectetur
      .checked-div
            img.checked(src=require('./../images/checked.svg'), alt='checked')
            p.checked-text Ut enim ad minim veniam quis nostrud