section.powerfull-psd-template
  .container
    .powerfull-psd-template-text
      p.title.powerfull-pst-template-title Powerfull PSD Template
      p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      p.description Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    img.powerfull-psd-template-image(src=require('./../images/screen-mockup.png'), alt='screen mockup')