.drag-and-drop{
    display: grid;
    padding: 160px 0px 130px 0px;
    background-image: url(./../images/graph-small.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.drag-and-drop-container {
    max-width: 1550px;
    margin: 0 auto;
}

.drag-and-drop-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(30px, 7vw ,175px);
    height: 100%;
    align-items: center;
}

@media (max-width: 1400px) {
    .drag-and-drop-grid  {
      grid-template-columns: 1fr; 
      justify-items: center;      
      gap: 20px;
    }
}

.drag-and-drop-text-description {
    max-width: 510px;
}

.drag-and-drop-text-arrows {
    display: flex;
    gap: 19px;
}