.features {
    display: grid;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));
    margin-top: 228px;
}

@media (max-width: 1630px) {
    .features-grid > :last-child  {
      grid-column: 1 / -1; 
      justify-items: center;
    }
}

.feature-item {
    margin-top: 30px;
    place-items: center;
    text-align: center;
}

.feature-image {
    height: 80px;
}

.feature-title {
    font-size: clamp(18px, 3vw, 24px);
    font-weight: 700;
}

.feature-description {
    max-width: 374px;
    line-height: 30px;
}

.button-see-more {
    width: 250px;
    background: none;
    border-color: #dadee7;
    font-weight: 700;
}