.powerfull-psd-template {
    display: grid;
    background-color: #f6f7fa;
}

.powerfull-psd-template-text {
    text-align: center;
}

.powerfull-psd-template-title {
    color: var(--black);
}

.powerfull-psd-template-image-div {
    display: grid;
    place-items: center;
}

.powerfull-psd-template-image {
    width: clamp(400px, 90vw, 1190px);
}