doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    title= 'Merkury'
  body
    include ./pugs/header.pug
    include ./pugs/features.pug
    include ./pugs/all-you-need.pug
    include ./pugs/drag-and-drop.pug
    include ./pugs/powerfull-psd-template.pug
    include ./pugs/pricing.pug
    include ./pugs/footer.pug